<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.consultation.app"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    
    
    
    <!-- 必选 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 【必选】用以设置前台是否显示通知 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    
    <application
        android:name="com.consultation.app.ConsultionApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:persistent="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.consultation.app.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="com.consultation.app.service.HeartbeatService" />
        <activity
            android:name="com.consultation.app.activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        
        <activity
            android:name="com.consultation.app.activity.ProvinceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.MyHospitalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.MyDepartmentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.HospitalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.DepartmentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.MyTitleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.MyExpertGradeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.TitleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.BirthdayDateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        
        <activity 
            android:name="com.consultation.app.activity.SelectHeadPicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        
        <activity 
            android:name="com.consultation.app.activity.AddPatientPicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        
        <activity
            android:name="com.consultation.app.activity.InvitationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.FeedBackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:hardwareAccelerated="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        
        <activity
            android:name="com.consultation.app.activity.MyAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        
        <activity
            android:name="com.consultation.app.activity.SpecialistInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.ForgetPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.KnowledgeRecommendListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SearchRecommendActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.RecommendActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SearchRecommendResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.UserInfoSumbitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SearchSpecialistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SearchSpecialistResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SearchConsulationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SearchConsulationResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.CreateCaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.CreateCaseNextActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SelectExpertActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SelectCaseTemplateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SelectPatientActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SelectExpertResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SelectPatientResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SymptomActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.CaseTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.CaseInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.CaseInfoNewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SpecialistInfoHelpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SpecialistInfoFeedbackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.SymptomTxtActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.CaseTestTxtActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.UpdateMyInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.DiscussionCaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.EvaluationCaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.CaseMoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.CaseMoreNewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.MyInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.MyInfoSetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.DialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.DialogNewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.ContactActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.MatchContactActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.BigImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.CaseTestViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.CaseTestViewTxtActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.RechargeRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.WithdrawalsRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.UpdateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.IncomeRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.PayRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.CaseSelelctSymptomActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.ChangeExpertActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.WithdrawalsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.HelpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.HelpGradeTwoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.consultation.app.activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        
        <receiver
            android:name="com.consultation.app.util.MyBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.consultation.app.new.case.action" />
            </intent-filter>
        </receiver> 
        <receiver
            android:name="com.consultation.app.util.CaseBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.consultation.app.update.case.action" />
            </intent-filter>
        </receiver> 
        <receiver
            android:name="com.consultation.app.util.CaseCountBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.consultation.app.count.case.action" />
            </intent-filter>
        </receiver> 
        
        <!-- 监听通知点击或者忽略处理的广播 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>

        <!-- 监听开机运行、网络连接变化、卸载的广播 -->
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 监听消息到达的广播 -->
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 监听宿主选举的广播 -->
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>

        <!-- 监听注册的广播 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.consultation.app.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Umeng的长连服务，用来建立推送的长连接的 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push" >
            <intent-filter>
                <action android:name="com.consultation.app.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.consultation.app.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>

        <!-- Umeng的消息接收服务 -->
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />

        <!-- Umeng的消息路由服务 -->
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>

        <!-- v2.4.1添加的Service，Umeng的消息接收后的处理服务 -->
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>

        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <!-- V2.5.0添加的Service，用于本地通知 -->
        <!-- 如果不使用本地通知，可以注释掉本地通知服务的配置 -->
        <service
            android:name="com.umeng.message.local.UmengLocalNotificationService"
            android:exported="false" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5603d2f3e0f55a9d09002ec0" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="73e6649b7c06941db4130e9e70bfc169" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="YiLianBang" >
        </meta-data>
        
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <!-- 腾讯SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.consultation.app.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
    </application>

</manifest>
